body {
    background-color: white;
    background-image: url('slike/backgroundMain.jpg');
    background-size: 100%;
}

.sectionHeader {
    display: block;
    margin: auto;

    width: 75%;
    height: 150px;
}

.sectionHeader h1{
    text-align: center;
    margin-top: 40px;

    font-family: 'Verdana';
    font-size: 100px;
    font-weight: bold;

    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.75));
}

.sectionSelect {
    width: 75%;
    height: 500px;

    display: block;
    margin: auto;
}

.sectionSelect p {
    text-align: center;

    font-family: 'Arial Black';
    font-size: 50px;
    font-weight: bolder;
    color: white;

    margin-top: 10px;
    -webkit-text-stroke: 2px black;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.sectionSelect img{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));

    transition: 0.2s;
    margin: 15px;
}

.sectionSelect img:hover {
    transform:scale(1.10);
    rotate: -2deg;
}

.sectionSelect img:hover:active{
    transform: scale(0.95);
}

.sectionFooter{
    display: block;
    margin: auto;

    margin-top: 200px;

    width: 90%;
    height: 150px;
}

.sectionFooter h2{
    text-align: center;

    font-family: 'Verdana';
    font-size: 30px;
    font-weight: bold;

    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.75));
}

.sectionFooter img{
    display: block;
    margin: auto;

    margin-bottom: -5px;

    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 1));
    transition: 0.2s;
}

.sectionFooter img:hover{
    transform: scale(1.05);
    rotate: -2deg;
}

.sectionFooter img:hover:active{
    transform: scale(0.95);
}

.bitnaStavkaTxt{
    font-size: 120%;
}

/* --------------------------------- LIKOVI --------------------------------- */

.sectionBody {
    display: block;
    margin: auto;

    width: 75%;
    height: 750px;

    border: 2px 2px black;
}

.sectionBody h3 {
    text-align: center;

    font-family: 'Arial Black';
    font-size: 50px;
    font-weight: bold;
    color: white;

    -webkit-text-stroke: 2px black;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.75));
}

.sectionBody li {
    font-family: 'Arial Black';
    font-size: 20px;
    font-weight: bold;
}

.sectionBody p {
    font-family: 'Verdana';
    font-size: 20px;
    font-weight: bold;

    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.75));
}

.opisSlika {
    margin: 20px;

    margin-top: 100px;
    margin-right: 30px;

    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 1));
    transition: 0.2s;
}

.opisSlika:hover{
    transform: scale(1.05);
    rotate: -2deg;
}

.opisSlika:hover:active{
    transform: scale(0.95);
}

.powerupsTable{
    width: 910px;

    display: block;
    margin: auto;

    border: 2px 2px black;
}

.powerupsTable p {
    font-family: 'Verdana';
    font-size: 25px;
    font-weight: bold;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));

    border: 2px 2px black;
}

.miniSlika{
    width: 150px;
    height: 150px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));

    border: 2px 2px black;

    margin-right: 100px;
}


/* --------------------------------- NAVIGACIJA --------------------------------- */

.characterNav {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
}

.iconLinks {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 5px;
}

.iconLinks img {
    width: 87px;
    height: 88px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
    transition: 0.2s;
}

.iconLinks img:hover {
    transform: scale(1.1);
    rotate: -2deg;
}

.iconLinks img:hover:active {
    transform: scale(0.95);
}

.navCaption {
    font-family: 'Arial Black';
    font-size: 25px;
    font-weight: bold;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}