/* -------------------- RESPONSIVE FIXES --------------------- */
@media (max-width: 768px) {
  .sectionHeader h1 {
    font-size: 50px;
    margin-top: 20px;
  }

  .sectionSelect {
    width: 90%;
    height: auto;
  }

  .sectionSelect p {
    font-size: 30px;
    -webkit-text-stroke: 1px black;
  }

  .sectionSelect img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
  }

  .sectionFooter {
    margin-top: 100px;
    height: auto;
  }

  .sectionFooter h2 {
    font-size: 20px;
  }

  .sectionBody {
    width: 90%;
    height: auto;
  }

  .sectionBody h3 {
    font-size: 30px;
    -webkit-text-stroke: 1px black;
  }

  .sectionBody p,
  .sectionBody li {
    font-size: 16px;
  }

  .powerupsTable {
    width: 100%;
    overflow-x: auto;
  }

  .miniSlika {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .characterNav {
    position: static;
    margin-bottom: 20px;
  }

  .iconLinks {
    flex-wrap: wrap;
    gap: 5px;
  }

  .iconLinks img {
    width: 60px;
    height: 60px;
  }

  .navCaption {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
    background-size: cover;
  }

  .sectionHeader h1 {
    font-size: 36px;
  }

  .sectionSelect p {
    font-size: 24px;
  }

  .sectionFooter h2 {
    font-size: 18px;
  }

  .sectionBody h3 {
    font-size: 24px;
  }
}

